*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*inizio heade*/
.container {
    height: 100px;
    width: 100%;
    background-color: #D4A520;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    
}
.logo img {
    
    height: 30px;
    
}
span{
    
}

/*inzio sezione*/

.container-sopra{
    max-width: 1200px;
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    
    
}

.prodotto {
    border: 2px solid rgb(143, 13, 13);
    width: calc(97% / 3);
    margin: auto;
    position:relative;
    margin-top: 50px;  
}
.prodotto img {
    height:100% ;
    width: 100%;
       
}

.sconto{
    background-color: red;
    padding: 5px 10px;
    color: white;
    font-weight: 800;
    position: relative;
    bottom: 50px;
}


.etichetta{
    background-color: green;
    padding: 5px 10px;
    color: white;
    font-weight: 800;
    position: relative;
    bottom: 50px;
}

.descrizione-prodotto{
    margin-top: -5%;
      
}
 .cuore{
     position: absolute;
     top: 10px;
     right:10px;
     border: 2px solid black;
     padding: 20px;
     font-size: 25px;
    
 }

.icone{
    border: 2px solid black;
    font-size: 20px;
    color: rgba(240, 255, 240, 0.688);
}

.prodotto .img-secondaria{
    position: absolute;
    left: 0px;
    top:0px;
    
}

.img-secondaria:hover{
    display: none;
    
}