
/* per eliminare i bordi  ei margini di defeult*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*stile de fonte link riportato nel header*/
body{
    font-family: 'Fredoka One', cursive;
    font-family: 'Roboto', sans-serif;
    
}

/*inizio header 
il container e reso flex per allignare i contenuti 
justify per spaziarli,align-items per centrali verticalmente,posizion
-fixed per rende il contenitore fisso paraporto alla pagina*/
.container {
    height: 65px;
    width: 100%;
    background-color: #FF6900;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    position: fixed;
    z-index: 1;
    font-weight:bold ;
}


/*regola per dimensionamenti immagine logo */
.logo img {
    
    height: 30px;
}


/*questa classe e il container della lista reso flex 
per mettere il <li> sulla stessa ligna list-style: none;
per eliminare i punti di defeult */
.categoria{
    
    display: flex;
    list-style: none;   
}
/* il padding spazia gli <li> tra di loro*/
li{
  padding: 0 10PX;
  color: aliceblue;  
}

/*regole di stile per le icone presenti nel header */
.icone{
    
    font-size: 20px;
    color: rgba(240, 255, 240, 0.688);
    letter-spacing: 10px; 
}

/*fine header*/



/*inzio sezione container e il contenitore padre reso flex
per allignare la classe prodotto wrap per andare a capo*/

.container-sopra{
    max-width: 1200px;
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    
    
}
/*contenitore padre per immagine, etichetta, e descrizione.
reso relative per poter spostare gli elementi al suo interno 
la width e sta divisa per 3*cosi ogni prdotto prende 1/3 della width*/
.prodotto {
    
    width: calc(97% / 3);
    margin: auto;
    position:relative;
    margin-top: 100px;  
}

/*regola per dimensionare l'immagine all'interno del 
contenitore padre*/
.prodotto img {
    width: 100%;
    height: 90%;
}
/*regole di stile per etichtta; sconto resa relative
per poterla spostare di 50px da sotto paraporto alla sua posizione originale   */
.sconto{
    background-color: red;
    padding: 5px 10px;
    color: white;
    font-weight: 800;
    position: relative;
    bottom: 50px;
}

.etichetta{
    background-color: green;
    padding: 5px 10px;
    color: white;
    font-weight: 800;
    position: relative;
    bottom: 50px;
}
.descrizione-prodotto .prezzo{
    color: red;
    font-weight: bold
}

/*regola x il posizionamentol'icona del cuore all resa absolute
per poterla spostarla paraporto al suo container prodotto*/
.cuore{
     position: absolute;
     top: 10px;
     right:10px;
     padding: 20px;
     font-size: 25px;   
 }
/*regola x l'icona del cuore all
   passaggio del mouse diventa rossa*/
 .cuore:hover{
     color: red;
 }
/* mette il testo della classe in grassetto*/
 .nome {
    font-weight: bold;
}


/*regola per psizionare l'immagine primaria
sopra quella secondaria*/
.prodotto .img-primaria{
    position: absolute;
    top: 0%;
    left: 0%;   
    
}
/*al passaggio del mause sul l'immagine primaria sparisce 
lasciando mostrare l'immagine secondaria */
.img-primaria:hover{
    display: none;
    
}
/*inzio footer reso flex per allineare i contenti*/
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #1A1A1A;
    align-items: center;
    margin-top: 30px;
    
}

/*regole per l'intestazione*/
.intesta{
   /* border: 2px solid white;*/
    color: white;
    padding-left: 10px ;
    font-size: 20px;
}

/*regole per allineare la lista e spostarla */
.categoria2{
  
    display: flex;
    position: relative;
    left: -10px;
    top:10px;
    list-style: none;  
 }    

nav{
    color: azure;  
}


h4{
    position: relative;
    right:  -366px;
    bottom: 30px;
    color: azure;
    margin-top: 20px;   
}

.icone-footer{
    
    font-size: 20px;
    color: rgba(240, 255, 240, 0.688);
    letter-spacing: 10px;
    margin-top: 30px;
}



/*regole debug*/
.debug.cuore{
    border: 2px solid black;
}


 .debug .icone{
    border: 2px solid black;
 }

 .debug .prodotto{
     border: 2px solid rgb(143, 13, 13);
 }

 .debug.categoria{
   border: 2px solid black
 }
 /*fine regole debug*/